rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla para la colección "users"
    // Solo el propio usuario puede leer y escribir su documento
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
